/*---------------HEADER------------*/

.header_logo{
    display: flex;
}

.header_logo_img{
    margin: auto;
}

.header_place{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

/*----------------MAIN-------------*/

.info_restaurant{
    display: flex;
    flex-direction: column;
    
    
}
