html, body {
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.header__logo-title {
  font-family: "Shrikhand", cursive;
}

.fonctionnement__title, .restaurant__title {
  margin: 15px;
}

.restaurant__content-text--def, .restaurant__content-text--title, h1 {
  margin: 0;
}

.footer__list-logo {
  font-family: "Shrikhand", cursive;
  color: #fff;
}
.footer p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 10px 0px;
}

.element__menu-title, .element__menu-description, .element__menu-price {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa-heart {
  font-size: xx-large;
}

.fa-arrow-left {
  font-size: x-large;
}

@media screen and (min-width: 992px) {
  .content__info__restaurant__title, .content__info__restaurant__text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
}
.top__title__menu > h1 {
  font-family: "Shrikhand", cursive;
}

.element__menu__def-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__info__restaurant__button, .button__order {
  background: linear-gradient(350deg, #9356df 0%, #FF79DA 100%);
  color: #fff;
  border-radius: 100px;
  border: none;
  padding: 5px 20px;
  box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.4);
}
.content__info__restaurant__button:hover, .button__order:hover {
  box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.8);
  background: linear-gradient(350deg, rgba(147, 86, 223, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}

.header {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__acceuil {
    box-shadow: 0px 0px 5px rgba(101, 101, 101, 0.5);
    z-index: 1;
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    z-index: 1;
    position: relative;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    box-shadow: none;
    z-index: 1;
    position: relative;
  }
}

.header-icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 0;
  bottom: 50%;
  margin-left: 30px;
}

.top__place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.top__place-icon {
  display: flex;
  margin: auto 10px;
}
.top__place-search {
  height: 50px;
  border: none;
  background: #eaeaea;
}

.info__restaurant {
  background-color: #f6f6f6;
}

.container__info__restaurant {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .container__info__restaurant {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
@media screen and (min-width: 992px) {
  .container__info__restaurant .content__info__restaurant {
    display: flex;
    flex-direction: row;
  }
}
.container__info__restaurant .content__info__restaurant__title {
  text-align: center;
  margin: 25px 20px;
}
.container__info__restaurant .content__info__restaurant__text {
  text-align: center;
  margin: 25px 20px;
}

.fonctionnement {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 0px;
}
.fonctionnement__view {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
@media screen and (min-width: 992px) {
  .fonctionnement__view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .fonctionnement__view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.fonctionnement .natural_bg {
  background-color: #f6f6f6;
}
.fonctionnement .diff_bg {
  background-color: #f0e7fc;
}
.fonctionnement__content {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 75px;
  border-radius: 20px;
  width: -webkit-fill-available;
  align-items: center;
  margin: 15px 15px 15px 30px;
  box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.3);
}
.fonctionnement__content .numero-fonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(45%);
  position: absolute;
  background-color: #9356df;
  color: #fff;
  width: 30px;
  height: 30px;
  left: -15px;
}
.fonctionnement__content-icon {
  display: flex;
  height: 100%;
  width: 75px;
  justify-content: center;
  align-items: center;
}
.fonctionnement__content-icon .fa-store {
  color: #9356df;
}

.restaurant {
  background-color: #f6f6f6;
}

.container__restaurant {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 40px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.container__restaurant__title {
  margin: 15px;
}
.container__restaurant__title > h2 {
  margin: 0;
}
.container__restaurant__view {
  padding-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .container__restaurant__view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .container__restaurant__view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.restaurant__content {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.2);
}
.restaurant__content-img {
  height: 175px;
  position: relative;
}
.restaurant__content-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__content-img .badge-new {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
}
.restaurant__content-text {
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
}
.restaurant__content-text__name {
  height: 60px;
  width: 100%;
  margin: 15px;
}
.restaurant__content-text--icon {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  background: black;
}
.restaurant__content-text--icon:hover::before {
  opacity: 1;
}
.restaurant__content-text--icon::before {
  content: "";
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #9356df 10%, #FF79DA 60%);
}
.restaurant__content-text--icon .menu__heart {
  background-color: white;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant__content-text--icon:hover .menu_heart-nobg {
  opacity: 0;
}

/*----------------------CSS POUR MENU -------------------*/
.menu {
  background-color: #f6f6f6;
}
.menu__img > img {
  height: 100%;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}
.menu .menu__container {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -25px;
  border-radius: 25px;
}
@media screen and (min-width: 993px) {
  .menu .menu__container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
}
.menu .menu__container .top__title__menu {
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: space-between;
}
.menu .menu__container .element__menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 15px;
  padding-bottom: 30px;
}
.menu .menu__container .element__menu_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 15px;
}
.menu .menu__container .element__menu_container .delay-1 {
  animation: delay 2s 1.5s cubic-bezier(0.5, 1.58, 0.34, 0.82) both;
  transform-origin: bottom 50%;
  animation-delay: 0.1s;
}
.menu .menu__container .element__menu_container .delay-2 {
  animation: delay 2s 1.5s cubic-bezier(0.5, 1.58, 0.34, 0.82) both;
  transform-origin: bottom 50%;
  animation-delay: 0.2s;
}
.menu .menu__container .element__menu_container .delay-3 {
  animation: delay 2s 1.5s cubic-bezier(0.5, 1.58, 0.34, 0.82) both;
  transform-origin: bottom 50%;
  animation-delay: 0.3s;
}
@keyframes delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .menu .menu__container .element__menu_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
    column-gap: 15px;
  }
}
.menu .menu__container .element__menu__def {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px rgba(128, 128, 128, 0.2);
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.menu .menu__container .element__menu__def:hover::after {
  opacity: 1;
  width: 20%;
}
.menu .menu__container .element__menu__def::after {
  content: "";
  background: #99E2D0;
  opacity: 0;
  height: 100%;
  transform-origin: right 50%;
  animation: check-bg 1000ms ease-in-out both;
  width: 0%;
  justify-content: none;
  border-radius: 0px 15px 15px 0px;
}
@keyframes check-bg {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.menu .menu__container .element__menu__def .menu__check {
  position: absolute;
  opacity: 1;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: inherit;
  right: -20px;
  /*transition-duration: 1s;
  animation: check 2000ms ease-in-out both;*/
}
@keyframes check {
  from {
    right: -60px;
  }
  to {
    right: 20px;
  }
}
.menu .menu__container .element__menu__def:hover .menu__check {
  transition-duration: 0.5s;
  animation: check 1000ms ease-in-out both;
}
.menu .menu__container .element__menu__def-text {
  width: 100%;
  padding: 10px;
}
.menu .menu__container .element__menu__def-price {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

/*---------------------- LOADER ---------------------*/
.footer {
  padding: 20px;
  background-color: #383838;
}
.footer__list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 20px 15px;
}
.footer__list-logo {
  display: flex;
  height: 25px;
}
.footer__list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__list-element--icon {
  display: flex;
  color: #fff;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
