.container__info__restaurant__button{
    background-color: $color-secondary;
    background: linear-gradient(350deg,$color-primary 0%, $color-secondary 100%);
    color: #fff;
    border-radius: 100px;
    border:none;
    padding: 5px 20px;
    
}

.button__order{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}