.info__restaurant__button{
    background-color: $color-secondary;
    color: #fff;
    border-radius: 100px;
    border:none;
    padding: 5px 20px;
    
}

.button__order{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}