*{
    font-family: 'Roboto', sans-serif;
}

.header__logo-title{
    font-family: 'Shrikhand', cursive;
}
.fonctionnement__title,.restaurant__title{
    margin: 15px;
}

.restaurant__content-text--def,.restaurant__content-text--title,h1{
    @include no__marge;
}

.footer{

    &__list-logo{
        font-family: 'Shrikhand', cursive;
        color: #fff;
    }
    p{
        color: $color-footer-list;
        font-family: 'Roboto', sans-serif; 
        margin: 10px 0px;

    }
}

.element__menu-title, .element__menu-description, .element__menu-price{
    @include no__marge;
}

a{
    text-decoration: none;
    color: inherit;
}

.fa-heart{
    font-size: xx-large;    
}

.fa-arrow-left{
    font-size: x-large;
}