h1, h2, h3{
    font-family: 'Roboto', sans-serif; 
}

.fonctionnement__title,.restaurant__title{
    margin: 15px;
}

.restaurant__content-text--def,.restaurant__content-text--title,h1{
    @include no__marge;
}

.footer{

    &__list-logo{
        font-family: 'Shrikhand', cursive;
        color: #fff;
    }
    p{
        color: $color-footer-list;
        font-family: 'Roboto', sans-serif; 
        margin: 10px 0px;

    }
}