$color-primary:#9356df;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$color-top-place: rgb(234, 234, 234);
$color-bg-button: linear-gradient(350deg,$color-primary 0%, $color-secondary 100%);
$color-bg-button-lighten: linear-gradient(350deg, rgba($color-primary,0.9) 0%, rgba($color-secondary,0.9) 100%);
$color-bg-info-restaurant:rgb(246, 246, 246);
$color-bg-fonctionnement:rgb(246, 246, 246);
$color-bg-restaurant:rgb(246, 246, 246);

$color-footer-list:#fff;

$color-bg-menu:rgb(246,246,246);