$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

$color-header-bottom: rgb(194, 194, 194);
$color-bg-info-restaurant:rgb(216, 212, 212);
$color-bg-restaurant:rgb(224, 224, 224);

$color-footer-list-title:#fff;