.top__place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-top-place;

    &-icon{
        display: flex;
        margin: auto 10px;
    }

    &-search{
        height: 50px;
        border: none;
        background: $color-top-place;
    }

    
}

.info__restaurant{
    background-color: $color-bg-info-restaurant;
}
.container__info__restaurant{
    @include max__with__desktop;
    


    @media screen and (min-width:992px) {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    .content__info__restaurant{
        @media screen and (min-width:992px) {
            display: flex;
            flex-direction: row;
        }
        
        &__title{
            text-align: center;
            margin: 25px 20px;
        }
        &__text{
            text-align: center;
            margin: 25px 20px;
        }
    }
    

}

.fonctionnement{
    @include max__with__desktop;
    padding: 50px 0px;
    &__view{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        @media screen and (min-width:992px) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
        @media (max-width:992px) and (min-width:768px) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
        }
                
    }
    .natural_bg{
        background-color: $color-bg-fonctionnement;
    }
    .diff_bg{
        background-color: rgb(240, 231, 252);
    }
    &__content{
        display: flex;
        flex-direction: row;
        position: relative;
        height: 75px;
        border-radius: 20px;
        width: -webkit-fill-available;
        align-items: center;
        margin: 15px 15px 15px 30px;        
        box-shadow: 0px 0px 10px 4px rgb(128 128 128 / 30%);
        
        .numero-fonctionnement{
            display: flex;
            align-items: center;
            justify-content: center;
            clip-path: circle(45%);
            position: absolute;
            background-color: $color-primary;
            color: #fff;
            width: 30px;
            height: 30px;
            left: -15px;
        }
        &-icon{
            display: flex;
            height: 100%;
            width: 75px;
            justify-content: center;
            align-items: center;
            .fa-store{
                color: $color-primary;
            }
        }
    }
    
}

.restaurant{
    background-color: $color-bg-restaurant;
}
.container__restaurant{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 40px;
    @include max__with__desktop;
    &__title{
        margin: 15px;
        & > h2{
            @include no__marge;
        }
    }
    &__view{
        padding-bottom: 30px;
        @media  screen and (min-width:992px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        @media (max-width:992px) and (min-width:768px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }
}


.restaurant__content{
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px rgb(128 128 128 / 20%);
    
    &-img{
        height: 175px;
        position: relative;
        
        & > img{
            height: 100%;
            width: 100%;
            object-fit: cover;   
            border-radius: 20px 20px 0px 0px;
        }

        .badge-new{
            position: absolute;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            top: 15px;
            right: 15px;
            padding: 5px 10px;

            
        }
    }

    &-text{
        display: flex;
        flex-direction: row;
        height: 75px;
        background-color: #fff;
        border-radius: 0px 0px 20px 20px; 

        &__name{
            height: 60px;
            width: 100%;
            margin: 15px;
        }
        &--icon{
            display: flex;
            height: 60px;
            width: 60px;
            justify-content: center;
            align-items: center;
            position: relative;
            background: black;

            &:hover::before{
                opacity:1;
            }

            &::before{
                content: "";
                position: absolute;
                opacity: 0;
                transition: 0.5s;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(180deg, $color-primary 10%, $color-secondary 60%);
            }
            
            .menu__heart{
                background-color: white;
                mix-blend-mode: lighten;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display:flex;
                align-items:center;
                justify-content:center;
            }
                      

            &:hover{
                .menu_heart-nobg{
                    opacity: 0;
                }
            }
            
        }
    }
}

/*----------------------CSS POUR MENU -------------------*/

.menu{
    background-color: $color-bg-menu;


    &__img{
        & > img{
            height: 100%;
            width: 100%;
            max-height: 350px;
            object-fit: cover;
        }
    }

    .menu__container{
        background-color: $color-bg-menu;
        @media screen and (min-width:993px) {
            
            @include max__with__desktop;
            
        }

        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -25px;
        border-radius: 25px;
        

        .top__title__menu{
            display: flex;
            flex-direction: row;
            margin: 15px;
            
            justify-content: space-between;

            &--icon{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                background: black;
                position: relative;

                &:hover::before{
                    opacity:1;
                }
    
                &::before{
                    content: "";
                    position: absolute;
                    opacity: 0;
                    transition: 0.5s;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(180deg, $color-primary 10%, $color-secondary 60%);
                }               
                
                .menu__heart{
                    background-color: $color-bg-menu;
                    mix-blend-mode: lighten;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                }
                          
    
                &:hover{
                    .menu_heart-nobg{
                        opacity: 0;
                    }
                }
            }
        }

        .element__menu{
            display: grid;
            grid-template-columns: repeat(1,1fr);    
            margin: 15px;
            padding-bottom: 30px;
            
            &_container{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                row-gap: 15px;

                
                @for $i from 1 to 4 {
                    .delay-#{$i} {
                        animation: delay 2s 1.5s cubic-bezier(.5,1.58,.34,.82) both ;
                        transform-origin: bottom 50%;
                        animation-delay: #{math.div($i, 10)}s;
                    }
                }

                @keyframes delay {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity:1;
                    }
                }
                
                @media screen and (min-width:992px) {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    margin: 15px;
                    column-gap: 15px;
                }
            }
            &__def{
                display: flex;
                flex-direction: row;
                background-color: #fff;
                 
                border-radius: 15px; 
                box-shadow: 0px 0px 10px 4px rgb(128 128 128 / 20%);    
                position: relative;
                overflow: hidden;
                z-index: 2;
                
                
                
                    
                    &:hover::after{
                        opacity: 1;
                        width: 20%;
                    }
                    
                    &::after{
                        content: "";
                        background: $color-tertiary;
                        opacity: 0;
                        height: 100%;
                        transform-origin: right 50%;
                        animation: check-bg 1000ms ease-in-out both;
                        width: 0%;
                        justify-content: none;
                        border-radius: 0px 15px 15px 0px;

                        
                    }

                    @keyframes check-bg {
                        from{
                            transform: scaleX(0);
                        }

                        to{
                            transform: scaleX(1);                           
                        }
                    }

                    .menu__check{
                        position: absolute;
                        opacity: 1;
                        z-index: 1;
                        display: flex;
                        align-items:center;
                        height: 100%;
                        overflow: inherit;
                        right: -20px;
                        /*transition-duration: 1s;
                        animation: check 2000ms ease-in-out both;*/
                        

                    }

                    @keyframes check {
                        from{
                            right: -60px;
                        }

                        to{
                            right: 20px;
                        }
                    }

                    &:hover{
                        .menu__check{
                        transition-duration: 0.5s;
                        animation: check 1000ms ease-in-out both;
                                           
                        }
                    }
                    
                &-text{
                    width: 100%;
                    padding: 10px; 
                }

                &-price{
                    display: flex;
                    align-items: flex-end;  
                    padding: 10px;     
                    
                }
            }
        }
    }
}

/*---------------------- LOADER ---------------------*/

