.footer{
    padding: 20px;
    background-color: rgb(56, 56, 56);
    &__list{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 20px 15px;
        &-logo{
            display: flex;
            height: 25px;
            width: fit-content;
            
            & > img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        &-element{
            display: flex;
            flex-direction: row;
            align-items: center;
            &--icon{
                display: flex;
                color: $color-footer-list;
                margin-right: 10px;
            }
        }
    }
}


