header{
    @media screen and (min-width:768px) {
    box-shadow: 0px 0px 5px rgba(101, 101, 101,0.5);
    z-index: 1;
    position: relative;
    }
}

.header{
    @include max__with__desktop;
    

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-around;
    }

    &__logo{
        display: flex;
        justify-content: center;
        padding: 10px;
        @media screen and (max-width:767px) {box-shadow: 0px 0px 5px rgba(101, 101, 101,0.5);
        z-index: 1;
        position: relative;
        }
    }

    &__place{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $color-header-bottom;

        @media screen and (min-width:768px) {
            background-color: rgb(255, 255, 255);
        }

        &-icon{
            display: flex;
            margin: auto 10px;
        }

        
    }

    

    

}
